a {
  transition: all 0.15s ease;
}

/* text-yellow-500 */
a:hover {
  color: #9932CC;
  text-decoration: none;
}

.player-scrub, .player-song-info {
  width: calc(100% - 250px);
}

.top-neg-8 {
  top: -8px;
} 

.player-song-info {
  margin-top: -24px;
}



.introduction-bg {
  animation: slide 40s linear infinite;
  will-change: background-position;
  z-index: -1;
}


#listSongs {
  display: inline-block;
  vertical-align: top;
  width: 15rem;
  height: 15rem;
  border-radius: 0.9rem;
  transition: all .2s ease-in-out;
}

#listSongs:hover {
  transform: scale(1.1);
}

#playlist {
  margin-top: 25px;
} 

#uploadButton {
   cursor: pointer;
  padding: 0.7rem;
  /* background-color: #9932CC; */
  color: white;
  border-radius: 0.5rem;
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

/* .upload-dropbox.upload-dropbox-drag{
  color: #fff;
  background-color: #4c6799;
  border-color: #7f20d8;
  border-style: solid;
} */

input[type="file"]{
  margin-top: 20px;
}

.progress-bar {
  background-size: 1rem 1rem;
  background-image: linear-gradient(
    45deg, rgba(255,255,255,.15) 
    25%, transparent 
    25%, transparent 
    50%, rgba(255,255,255,.15) 
    50%,rgba(255,255,255,.15) 
    75%, transparent 
    75%, transparent
  );
  animation: progress-bar-stripes 1s linear infinite;
}

.music-bg {
  animation: slide 50s linear infinite;
  will-change: background-position;
  background-image: url(/assets/theme/img/song-header.png);
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -4000px 0;
  }
}
